h1 {
    font-family: sans-serif;
    font-size: 20;
}

.squares {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

#sketchFrame {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    background-color: #2196F3;
    padding: 10px;
}